@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,500;0,700;1,200;1,300;1,500;1,700&family=Turret+Road:wght@300;500;700&display=swap');

:root {
    --vermelho: #e50914;
    --preto   : #141414;
}

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: 'Turret Road', sans-serif;
}

body {
    background: var(--preto);
    color     : white;
}

header .container {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: space-between;
    margin         : 0 1rem;
}

header .logo {
    color      : var(--vermelho);
    font-family: 'Prompt', sans-serif;
    font-size  : 40px;
}

header nav a {
    text-decoration: none;
    color          : #AAA;
    margin-right   : 10px;
}

header nav a:hover {
    color: #fff;
}

/* Filme principal 
IMG RETIRADAS DE . . . https://www.themoviedb.org/?language=pt-BR */
.filme-principal .container {
    width: 60%;
}

.filme-principal {
    font-size      : 1em;
    background     : linear-gradient(rgba(0, 0, 0, .60), rgba(0, 0, 0, .60)100%), url('../img/card_good_doctor.jpg');
    background-size: cover;
    height         : 28rem;

    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
    align-items    : flex-start;
    padding        : 0.5rem 1.5rem;
    border-bottom: 1px solid red;
}

.titulo {
    font-size: 2em;
}

.filme-principal .descricao {
    margin-bottom: 40px;
}

.filme-principal button {
    background-color: rgba(0, 0, 0, .50);
    border          : none;
    text-transform  : uppercase;
    color           : white;
    font-size       : 0.8em;

    padding     : 15px 30px;
    margin-right: 15px;

    cursor    : pointer;
    transition: 0.3s ease all;
}

.filme-principal button:hover {
    background-color: white;
    color           : black;
}

.filme-principal button i {
    margin-right: 8px;
}

.carousel h2 {
    text-align : center;
    text-transform: uppercase;
    color: white;
    padding    : 10px;
}

.box-filme {
    height : 100%;
    width  : 100%;
    display: block;
}

.carousel {
    margin: 10px 0;
}